@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.loginDialog {
    background-color: #0D0D0D;
    border-radius: 1rem;
    padding: 2.5rem;
    color: #CECECE;
    max-width: 400px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


