.permissions {
    background-color: #242424;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 0.9rem;
}

.permissions p {
    margin: 0;
    padding: 0;
}

.permissions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    margin-top: 0.5rem;
    padding-bottom: 0.35rem;
}

.permissions ul li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: -0.7rem;
}

.permissions ul li span:nth-child(1) {
    font-size: 1.3rem;
    margin-top: 0.3rem;
}
