{
  "env": {
    "jest": true
  },
  "globals": {
    "fetch": "readonly",
    "XMLHttpRequest": "readonly",
    "Headers": "readonly",
    "Blob": "readonly",
    "Image": "readonly"
  },
  "rules": {
    "react/jsx-no-undef": [1, { "allowGlobals": true }]
  }
}
